<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="ModelPersonelEntity" connectionString="data source=LAPTOP-T4S27CSF\SQLEXPRESS;initial catalog=EntiityPersonel;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
	

</configuration>